<div class="row">
  <div class="header col-xs-12">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <img id="headerLogo" src="https://smida-dev.test.idoc.com.ua/assets/images/55563eac.svr.png">
        </div>
        <div class="row col-xs-6 col-sm-4">
          <div class="col-xs-12">СИСТЕМА ВЕДЕННЯ</div>
          <div id="headerText" class="col-xs-12">РЕЄСТРІВ</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="body" *ngIf="apiTableData">
  <div class="tables_body">
    <div class="row">
      <div class="col-xs-8">
        <a> &lt; До результатів пошуку</a><br />
        <div id="edrpou">Код за ЄДРПОУ : {{apiTableData.oCommonInfoBot.code}}</div>
      </div>
      <div class="col-xs-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Пошук за ЄДРПОУ та назвою" aria-label="Search">
      </div>
      <div class="col-xs-1">
        <button class="btn btn-primary">{{date | date: 'dd.MM.yyyy'}}</button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-primary">Профіль</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col-xs-4"></th>
          <th scope="col-xs-4">Відомості з ЕДР</th>
          <th scope="col-xs-4">Відомості з СВР</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Назва</th>
          <td>{{apiTableData.oCommonInfoBot.full_name}}</td>
          <td>{{apiTableData.oCommonInfo.sNameFull}}</td>
        </tr>
        <tr>
          <th scope="row">Керівник юр.особи</th>
          <td>{{apiTableData.oCommonInfoBot.ceo_name}}</td>
          <td>{{apiTableData.oCommonInfo.oCEO.sCeoName}}</td>
        </tr>
        <tr>
          <th scope="row">Статутний капітал</th>
          <td>{{apiTableData.oCommonInfoBot.totalcapital}}</td>
          <td>{{apiTableData.oCommonInfo.nSizeCharterCapital}}</td>
        </tr>
        <tr>
          <th scope="row">Засновники</th>
          <td>{{apiTableData.oCommonInfoBot.beneficiaries}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Місцезнаходження</th>
          <td>{{apiTableData.oCommonInfoBot.location}}</td>
          <td>{{apiTableData.oCommonInfo.Address}}</td>
        </tr>
        <tr>
          <th scope="row">Тимчасове місцезнаходження</th>
          <td></td>
          <td>{{apiTableData.oCommonInfo.Temporary_Address}}</td>
        </tr>
        <tr>
          <th scope="row">Адреса електронної пошти</th>
          <td></td>
          <td>{{apiTableData.oCommonInfo.Email}}</td>
        </tr>
        <tr>
          <th scope="row">Телефон</th>
          <td></td>
          <td>{{apiTableData.oCommonInfo.Phone}}</td>
        </tr>
        <tr>
          <th scope="row">Веб-сайт</th>
          <td></td>
          <td>{{apiTableData.oCommonInfo.www}}</td>
        </tr>
        <tr>
          <th scope="row">Дата державної реєстрації</th>
          <td></td>
          <td>{{apiTableData.oCommonInfo.sDateRegistrationEDR | date: 'dd.MM.yyyy'}}</td>
        </tr>
        <tr>
          <th scope="row">Статус юр.особи</th>
          <td>{{apiTableData.oCommonInfoBot.status}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Основний КВЕД</th>
          <td>{{apiTableData.oCommonInfoBot.activities}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Дата синхронізації даних</th>
          <td>{{apiTableData.oCommonInfoBot.database_date | date: 'dd.MM.yyyy'}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />

  <div class="tables_body" *ngIf="aListRegistryStatus" (click)="triggerPublicOffers()">
    <table class="table">
      <thead>
        <tr>
          <th scope="col-xs-11" class="publicOffers">ПУБЛІЧНІ ПРОПОЗИЦІЇ</th>
          <th scope="col-xs-1" *ngIf="publicOffersStatus">&#9650;</th>
          <th scope="col-xs-1" *ngIf="!publicOffersStatus">&#9660;</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="tables_body" *ngIf="publicOffersStatus && publicOffersData">
    <table class="table">
      <thead>
        <tr style="background-color:rgb(248, 241, 232);">
          <th scope="col-xs-3">Ім'я/назва особи, яка здійснює публічну пропозицію</th>
          <th scope="col-xs-2">Дата початку публічної пропозиції</th>
          <th scope="col-xs-2">Дата закінчення публічної пропозиції</th>
          <th scope="col-xs-2">Цінні папери</th>
          <th scope="col-xs-2">Статус пропозиції</th>
          <th scope="col-xs-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col-xs-3">{{publicOffersData[0].sNameOfferent.value}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[0].sDateEndPublicOffering.value | date: 'dd.MM.yyyy'}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[0].aoListEvents.value.sName}}</th>
          <th scope="col-xs-1"></th>
        </tr>
        <tr>
          <th scope="col-xs-3">{{publicOffersData[1].sNameOfferent.value}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[1].sDateEndPublicOffering.value | date: 'dd.MM.yyyy'}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[1].aoListEvents.value.sName}}</th>
          <th scope="col-xs-1"></th>
        </tr>
        <tr>
          <th scope="col-xs-3">{{publicOffersData[2].sNameOfferent.value}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[2].sDateEndPublicOffering.value | date: 'dd.MM.yyyy'}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[2].aoListEvents.value.sName}}</th>
          <th scope="col-xs-1"></th>
        </tr>
        <tr>
          <th scope="col-xs-3">{{publicOffersData[3].sNameOfferent.value}}</th>
          <th scope="col-xs-2">{{publicOffersData[3].sDateBeginPublicOffering.value | date: 'dd.MM.yyyy'}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[3].aoListEvents.value.sName}}</th>
          <th scope="col-xs-1"></th>
        </tr>
        <tr>
          <th scope="col-xs-3">{{publicOffersData[4].sNameOfferent.value}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[4].sDateEndPublicOffering.value | date: 'dd.MM.yyyy'}}</th>
          <th scope="col-xs-2"></th>
          <th scope="col-xs-2">{{publicOffersData[4].aoListEvents.value.sName}}</th>
          <th scope="col-xs-1"></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>